*.swp
*~

CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

log.txt
*.log

rokitest01_freefall
rokitest02_collision
rokitest03_joint
rokitest04_motor
rokitest05_underconstructionjoint
rokitest06_prism
rokitest07_failure
